*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  color: rgba(255, 255, 255, 1);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
